@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.App {
  background: #fff;
  min-height: 100vh;
  max-height: 100%;
}